<head>
<!--put the page meta data setting in here-->
<meta charset="utf-8">
<meta name="author" content="{{ site.author }}" >
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<!--bing the title of page-->
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<!--put the css files in here-->
<script src="http://atchina.me/assets/javascript/nav.js" type="text/javascript" charset="utf-8"></script>
<link rel="shortcut icon" href="http://atchina.me/favicon.ico" />
<link rel="stylesheet" href="http://atchina.me/assets/bower_components/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="http://atchina.me/assets/bower_components/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://atchina.me/assets/css/main.css">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="http://atchina.me/assets/bower_components/Buttons/css/buttons.css">
<link rel="stylesheet" href="http://atchina.me/assets/bower_components/font-awesome/css/font-awesome.css">
</head>
